<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176587927793-1lihfujdbh1sffie17dadpotia49cfma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176587927793-1lihfujdbh1sffie17dadpotia49cfma</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>176587927793-f1ua23e0r1s9cqtvvotk3kfh6ir5ol06.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYDz43H7sI8E09Ite8n1ffQebXeIezEps</string>
	<key>GCM_SENDER_ID</key>
	<string>176587927793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capztone.eqcartAdmin</string>
	<key>PROJECT_ID</key>
	<string>eqcart</string>
	<key>STORAGE_BUCKET</key>
	<string>eqcart.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176587927793:ios:b868fa2749e4b20cdcf950</string>
</dict>
</plist>